.text {
    &-center { text-align: center; }
    &-left { text-align: left; }
    &-right { text-align: right; }

    &-light { font-weight: 300; }
    &-regular { font-weight: 400; }
    &-medium { font-weight: 500; }
    &-bold { font-weight: 700; }
}

.d {
    &-flex { display: flex; }
    &-inline {
        display: inline;
        
        &-flex { display: inline-flex; }
        &-block { display: inline-block; }
    }
}

.justify {
    &-space-between { justify-content: space-between; }
    &-end { justify-content: flex-end; }
}

.align {
    &-center { align-items: center; }
}